@import '../../assets/tokens.scss';

.ac-progress-bar {
  width: 100%;
  background-color: $mint-40;
  border-radius: 6px 6px 0 0;
  position: absolute;
  top: 0;
  left: 0;

  &--status {
    height: 10px;
    background-color: $mint-80;
    border-radius: 6px 0px 0 0;
  }
};