@import '../../assets/tokens.scss';

.ac-alert {
  border-radius: 6px;
  color: $ocean-80;
  padding: 12px 16px;

  &--primary {
    background-color: $ocean-40;
  };

  &__pointer {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    
    &--br {
      right: 30px;
      bottom: -10px;
    }

    &--bl {
      left: 30px;
      bottom: -10px;
    }
  };

  &--container {
    width: 100%;
    position: absolute;
    top: -70px;
    left: 0;
  };

  &--dollar-sign {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    bottom: 6px;
  };

  &--funds {
    font-weight: bold;
  };
};