@import '../../assets/tokens.scss';

.ac-donate {
  width: 400px;
  padding: 30px;
  border-radius: 6px;
  background-color: $white;
  box-shadow: 1px 1px 5px $slate-40;
  position: relative;

  &__title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', 'sans-serif';
    margin: 8px 0 18px;
    background-color: $white;
  };

  &__description {
    font-size: 16px;
    color: $slate-60;
    margin: 18px 0 24px;
    background-color: $white;

    &--donors {
      color: $slate-120;
      font-weight: bold;
    }
  };

  &__message {
    font-size: 12px;
    position: absolute;
    bottom: 12px;
  };
};