@import '../../assets/tokens.scss';

.ac-input-group {
  position: relative;
  &--currency {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 20px;
    color: $slate-60;
  }

  &__input {
    font-size: 22px;
    font-weight: bold;
    width: 64%;
    padding: 13px 13px 13px 30px;
    border-radius: 6px 0 0 6px;
    border: 1px solid $slate-30;
    background-color: $white;

    @media (max-width: $breakpoint-phone-m) {
      width: 57%;
    }

    @media (max-width: $breakpoint-phone-s) {
      width: 50%;
    }
  }

  &__button {
    border-width: 0;
    border-radius: 0 6px 6px 0;
    color: $white;
    border: 0px solid $mint-80;
    background-color: $mint-80;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;

    &:hover {
      cursor: pointer;
      background-color: $mint-120;
    }
  }
}

.ac-input-group__input::after {
  content: '$';
  padding: 0 5px;
  text-align: center;
}
