// Poppins (bold) | BM Plex Sans (regular & bold)
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import './assets/tokens.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

.ac-app {
  display: flex;
  background-color: $ocean-20;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media (max-width: $breakpoint-phone-m) {
    padding: 16px;
  }

  @media (max-width: $breakpoint-phone-s) {
    padding: 8px;
  }
}
